.container {
  display: flex;
  flex: 1;
}

.border {
  position: relative;
  display: flex;
  flex: 1;
  padding: 20px;
  border: 8px solid transparent;
  border-radius: 22px;
  background: inherit;
}

.border::before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin: 6px;
  border-radius: 22px;
  background: linear-gradient(to top, #5d3142, #392c45, #1e254b);
}

.content {
  display: flex;
  flex: 1;
  border-radius: 20px;
  background-color: #191b1e;
}

.cardsBackground {
  display: flex;
  flex: 1;
  padding: 10px;
}

.cards {
  display: flex;
  flex: 1;
  background-color: #2a2d43;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
