.container {
  display: flex;
  flex: 1;
  max-height: calc(100dvh - var(--header-height) - var(--footer-height));
  min-width: 100dvw;
  max-width: var(--max-container-width);
  margin-left: auto;
  margin-right: auto;
}

.border {
  position: relative;
  display: flex;
  flex: 1;
  padding: var(--content-wrapper-padding);
  border: var(--content-wrapper-border-width) solid transparent;
  border-radius: 22px;
  background: inherit;
}

.border::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 6px;
  border-radius: 22px;
  background: linear-gradient(to top, #5d3142, #392c45, #1e254b);
}

.content {
  display: flex;
  flex: 1;
  border-radius: 20px;
  background-color: #191b1e;
}
