.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.header span {
  font-size: 30px;
  color: var(--textColor);
}

.background {
  background-image: linear-gradient(45deg, #ad4e8e, #ba72ba, #9b91ed);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
