.container {
  display: flex;
  flex: 1;
  padding: 10px;
}

.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 20px;
  padding: 20px 12px 12px 20px;
  background-color: #2a2d43;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: auto;
}

.wrapper h2 {
  grid-column: span 2;
  color: var(--textColor);
}