.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color:#191b1f;
  padding: 10px;
  overflow-y: auto;
}

.board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 12px 16px 27px;
  margin-bottom: 4px;
  background-color: #2a2d43;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.boardActive {
  background-color: #545668;
}

.board:active {
  opacity: 0.5;
}

.board span {
  font-size: 16px;
  color: var(--textColor);
}

.board img:first-child() {
  margin-right: 10px;
}

.boardActions {
  display: flex;
  justify-content: space-between;
  min-width: 42px;
}
