.container {
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  background-color: #191b1f;
  padding: 10px;
  overflow-y: auto;
}

.board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px 12px 27px;
  margin-bottom: 4px;
  background-color: #2a2d43;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.boardActive {
  background-color: #545668;
}

.board:active {
  opacity: 0.5;
}

.board span {
  font-size: 16px;
  color: var(--textColor);
}

.boardActions {
  display: flex;
}

.boardActionWrapper {
  position: relative;
  background-color: inherit;
  cursor: pointer;
}

.boardActionWrapper:nth-child(2) {
  margin-left: 10px;
}
