.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header img {
  cursor: pointer;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 30px 0 40px;
}

.body label {
  color: #696e73;
  font-size: 12px;
}

.body input {
  position: relative;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  background-color: inherit;
  outline: none;
  z-index: 1;
  caret-color: #f8f2fc;
  color: #f8f2fc;
}

.inputWrapper {
  position: relative;
  margin-top: 10px;
  border: 1px solid #696e73;
  border-radius: 8px;
  overflow: hidden;
  pointer-events: all;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer button {
  padding: 10px 20px;
  color: #f8f2fc;
  outline: none;
  border: 1px solid #696e73;
  border-radius: 10px;
  background-color: inherit;
  font-size: 12px;
  cursor: pointer;
}

.footer button:active {
  opacity: 0.5;
}

.footer button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.footer button:nth-child(1) {
  display: flex;
  justify-content: center;
  min-width: 114px;
  background-color: #3f65dd;
}

.error {
  margin-top: 8px;
  font-size: 12px;
}
