.messageContainer {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #2a2d43;
}

.loader {
  border: 10px solid #f9fafb;
  border-top: 10px solid #5578d4;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.notFoundMessage {
  color: #f9fafb;
}
