:root {
  --max-container-width: 1790px;
  --header-height: 44px;
  --status-column-size: 260px;
  --attachment-size: 160px;
  --textColor: #f8f2fc;
  --textBlueColor: #5578d4;
  --textErrorColor: #d85045;
  --sidebar-width: 280px;
  --content-wrapper-border-width: 8px;
  --content-wrapper-padding: 18px;
  --footer-height: 34px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(#09071a, #140a1c, #2d162b, #050614);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

span,
p,
h1,
h2,
h3,
h4 {
  color: var(--textColor);
}

input {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  background-color: inherit;
  outline: none;
  z-index: 1;
  caret-color: var(--textColor);
  color: var(--textColor);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  min-height: 100vh;
}

.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.ReactModal__Content {
  position: relative !important;
  display: flex;
  flex-direction: column;
  width: 360px;
  background-color: transparent !important;
  border-radius: 20px !important;
  border: 1px solid #696e73 !important;
  color: var(--textColor);
  padding: 28px !important;
}

.ReactModal__Content::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  background: linear-gradient(to top, #5d3142, #392c45, #1e254b);
}

.error {
  color: #d85045;
}

.loader {
  border: 2px solid #f9fafb;
  border-top: 2px solid #3662e3;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cards-wrapper {
  width: calc(100dvw - var(--sidebar-width) - var(--content-wrapper-padding) * 2);
  height: 100%;
  padding: 10px;
}

#card-status,
#card-tags {
  margin-bottom: 20px;
}

#card-status .card-select__control,
#card-tags .card-select__control {
  min-height: 40px;
  margin-top: 10px;
  background-color: #2a2d43;
  border: 1px solid #696e73;
  border-radius: 8px;
}

#card-status .card-select__single-value,
#card-tags .card-select__single-value {
  color: var(--textColor);
}

#card-status .card-select__control--is-focused,
#card-tags .card-select__control--is-focused {
  border-color: #696e73;
  box-shadow: none;
}

#card-status .card-select__value-container,
#card-tags .card-select__value-container {
  padding: 8px;
}

#card-status .card-select__placeholder,
#card-tags .card-select__placeholder {
  display: none;
}

#card-status .card-select__menu,
#card-tags .card-select__menu {
  background-color: #2a2d43;
  border: 1px solid #696e73;
  border-radius: 8px;
  overflow: hidden;
}

#card-status .card-select__menu-list,
#card-tags .card-select__menu-list {
  padding: 0;
}

#card-status .card-select__option,
#card-tags .card-select__option {
  color: var(--textColor);
  cursor: pointer;
}

#card-status .card-select__option--is-focused,
#card-tags .card-select__option--is-focused {
  background: none;
}

#card-status .card-select__option--is-selected,
#card-tags .card-select__option--is-selected {
  background-color: #545668;
}

.formItemSkeleton {
  display: inline-block;
  height: 40px;
  border: 1px solid #696e73;
  background-color: rgba(105, 110, 115, 0.5);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.formItemSkeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    to right,
    rgba(105, 110, 115, 0.01),
    rgba(105, 110, 115, 0.05),
    rgba(105, 110, 115, 0.2),
    rgba(105, 110, 115, 0.4),
    rgba(105, 110, 115, 0.2),
    rgba(105, 110, 115, 0.05),
    rgba(105, 110, 115, 0.01)
  );
  animation: shimmer 2s infinite;
  animation-timing-function: linear;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animationBlock {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 1px solid var(--textColor);
  border-radius: 10px;

  animation-name: running;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  clip-path: inset(0px 75% 50% 0px round 10px);
}

.animationBlueBlock {
  border-color: var(--textBlueColor) !important;
  border-width: 3px !important;
}

@keyframes running {
  0% {
    clip-path: inset(0px 75% 50% 0px round 10px);
  }
  12% {
    clip-path: inset(0px 25% 99% 25%);
  }
  25% {
    clip-path: inset(0px 0px 50% 75% round 10px);
  }
  37% {
    clip-path: inset(25% 0px 25% 99%);
  }
  50% {
    clip-path: inset(50% 0px 0px 75% round 10px);
  }
  62% {
    clip-path: inset(99% 25% 0px 25%);
  }
  75% {
    clip-path: inset(50% 75% 0px 0px round 10px);
  }
  87% {
    clip-path: inset(25% 99% 25% 0px);
  }
  100% {
    clip-path: inset(0px 75% 50% 0px round 10px);
  }
}
