.container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(260px, 1fr) minmax(260px, 1fr) minmax(260px, 1fr) minmax(260px, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 18px 12px 12px;
  background-color: #2a2d43;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.containerInActive {
  opacity: 0.5;
}
