.tag {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 4px;
  border-radius: 4px;
  margin-right: 8px;
  overflow: hidden;
}

.tag span {
  font-size: 12px;
}

.tagClear {
  height: 20px;
  width: 18px;
  margin-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191b1f;
  cursor: pointer;
}

.option {
  display: flex;
  align-items: center;
  padding: 0 10px;
  min-height: 35px;
  cursor: pointer;
}

.option span {
  color: var(--textColor);
}

.optionCircle {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 8px;
}

.error {
  padding-top: 2px;
  color: #d85045;
  font-size: 12px;
}
