.container {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100px;
  min-width: 260px;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #191b1f;
  cursor: pointer;
  transform: translate(0, 0);
}

.title {
  color: #f5f4f1;
  font-size: 14px;
}

.container:nth-child(1) {
  margin-top: 20px;
}

.containerActive::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 4px;
  top: -12px;
  background-color: #f5f4f1;
  border-radius: 2px;
}
