.container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #191b1f;
  cursor: pointer;
  transform: translate(0, 0);
}

.container:first-child {
  margin-top: 20px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}

.title {
  color: #f5f4f1;
  font-size: 14px;
}

.containerActive::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 4px;
  top: -12px;
  background-color: #f5f4f1;
  border-radius: 2px;
}
