.container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #191b1f;
  cursor: pointer;
  transform: translate(0, 0);
}

.containerLoading {
  cursor: wait;
}

.container:first-child {
  margin-top: 20px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}

.title {
  color: #f5f4f1;
  font-size: 14px;
}

.containerActive::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 4px;
  top: -12px;
  background-color: #f5f4f1;
  border-radius: 2px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100px;
  border-radius: 6px;
  margin-bottom: 14px;
  overflow: hidden;
}

.imageWrapper img {
  clip-path: inset(0.6px);
}

.imageLoaderWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageLoaderWrapper div {
  width: 40px;
  height: 40px;
  border-width: 4px;
}

.animationBlock {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 1px solid var(--textColor);
  border-radius: 10px;
  
  animation-name: running;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  clip-path: inset(0px 75% 50% 0px round 10px);
}

@keyframes running {
  0% {
    clip-path: inset(0px 75% 50% 0px round 10px);
  }
  12% {
    clip-path: inset(0px 25% 99% 25%);
  }
  25% {
    clip-path: inset(0px 0px 50% 75% round 10px);
  }
  37% {
    clip-path: inset(25% 0px 25% 99%);
  }
  50% {
    clip-path: inset(50% 0px 0px 75% round 10px);
  }
  62% {
    clip-path: inset(99% 25% 0px 25%);
  }
  75% {
    clip-path: inset(50% 75% 0px 0px round 10px);
  }
  87% {
    clip-path: inset(25% 99% 25% 0px);
  }
  100% {
    clip-path: inset(0px 75% 50% 0px round 10px);
  }
}