.container {
  position: sticky;
  top: 0;
  display: flex;
  margin-bottom: 20px;
  z-index: 10;
  background-color: inherit;
}

.button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(to right, #c7d9f8, #c8d8f7);
}

.button:active,
.button:disabled {
  opacity: 0.7;
}

.container span {
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
  color: #5578d4;
}
