.container {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 11px 12px 11px 27px;
  margin-bottom: 4px;
  margin-top: auto;
  background: linear-gradient(to right, #c7d9f8, #c8d8f7);
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 8px 14px -9px var(--textBlueColor);
}

.container img {
  margin-right: 10px;
}

.container span {
  font-weight: 600;
  font-size: 16px;
  color: var(--textBlueColor);
}

.containerLoading {
  cursor: wait;
}
