.cardsBackground {
  display: flex;
  flex: 1;
  padding: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 6px;
  width: 100%;
  height: 100%;
  padding: 18px 12px 12px;
  background-color: #2a2d43;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
