.row {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.column label,
.row label {
  color: #f5f4f1;
}

.input {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  background-color: inherit;
  outline: none;
  z-index: 1;
  caret-color: var(--textColor);
  color: var(--textColor);
}

.textarea {
  width: 100%;
  padding: 10px;
  background-color: inherit;
  outline: none;
  z-index: 1;
  caret-color: var(--textColor);
  color: var(--textColor);
  resize: none;
  border: 1px solid #696e73;
  border-radius: 8px;
}

.inputWrapper input {
  height: 40px;
  min-width: 100%;
  border: 1px solid #696e73;
  border-radius: 8px;
}

.inputWrapper,
.textAreWrapper {
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
}

.option {
  display: flex;
  align-items: center;
  padding: 0 10px;
  min-height: 35px;
  cursor: pointer;
}

.option span {
  color: var(--textColor);
}

.optionCircle {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 8px;
}

.error {
  padding-top: 2px;
  color: #d85045;
  font-size: 12px;
}
